.main-bg {
  background-color: var(--color-c12);
  height: calc(700px - 120px);
}
.main-container {
  box-sizing: border-box;
  display: grid;
  gap: 0 2.5rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: var(--width-body);
  padding: 0 20px;
}
.main-description-container {
  align-self: end;
  padding-bottom: var(--gap-size-200);
}
.main-title {
  color: var(--color-wht);
  font-size: var(--gap-size-064);
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: var(--gap-size-032);
}
.highlight-letter {
  color: var(--color-p1);
  font-weight: 600;
}
.main-description {
  color: var(--color-c05);
  font-family: "Roboto", sans-serif;
  font-size: var(--gap-size-024);
  line-height: 1.5;
  margin-bottom: var(--gap-size-020);
}
.btn {
  background: linear-gradient(var(--color-p2), var(--color-p5));
  border-radius: var(--gap-size-004);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--color-p9);
  display: inline-block;
  font-size: var(--gap-size-018);
  font-weight: bold;
  line-height: 1.33;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
.btn:hover {
  background: linear-gradient(var(--color-p3), var(--color-p4));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
