@media (max-width: 768px) {
  .header-container {
    gap: 1rem;
  }
  .header-menu {
    gap: 1.25rem;
  }
  .header-menu a {
    background-color: var(--color-c11);
    border-radius: var(--gap-size-004);
    padding: 0.75rem 1rem;
    transition: background-color 0.3s ease;
  }
  .header-menu a:hover {
    background-color: var(--color-c10);
  }
  .header-menu a::before {
    display: none;
  }
}
@media (max-width: 425px) {
  .header-menu {
    gap: 0.75rem;
  }
  header-menu a {
    font-size: var(--gap-size-014);
    padding: 0.5rem 0.75rem;
  }
}
