.inner-insurance,
.inner-insurance .insurance-types-container {
  padding-top: 0px !important;
}
.inner-insurance .insurance-types-container {
  padding-bottom: 0px !important;
}
.inner-advantage-bg,
.inner-bg-title.advantage {
  background-color: var(--color-c12) !important;
}

.inner-bg-title.advantage {
  padding-top: 7.5rem !important;
}
.inner-advantage-bg {
  padding-bottom: 7.5rem;
}
.inner-advantage-bg ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 5rem;
}
.inner-advantage-bg li h2 {
  margin: 0.5rem 0;
}
