.inner-insurance,
.inner-insurance .insurance-types-container {
  padding-top: 0px !important;
}
.inner-insurance .insurance-types-container {
  padding-bottom: 0px !important;
}
.inner-advantage-bg,
.inner-bg-title.advantage {
  background-color: var(--color-c12) !important;
}
.inner-bg-title.advantage {
  padding-top: 7.5rem !important;
}
.inner-advantage-bg {
  padding-bottom: 7.5rem;
}
.inner-advantage-bg ul {
  display: grid;
  gap: 2.5rem 5rem;
  grid-template-columns: repeat(3, 1fr);
}
.inner-advantage-bg li h2 {
  margin: 0.5rem 0;
}
.FAQ-bg {
  padding: 7.5rem 1.25rem;
}
.FAQ-bg h1 {
  margin-bottom: 3.75rem;
}
.question-container {
  padding: 1.25rem;
  border-radius: 4px;
}
.question-container:nth-child(odd) {
  background-color: var(--color-c01);
}
.FAQ-bg button {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  background: none;
  width: 100%;
}
.FAQ-bg button::before {
  background-color: var(--color-p1);
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
}
.FAQ-bg button::after {
  background: url("/img/icones/seta-abrir.svg");
  content: "";
  display: inline-block;
  height: 6px;
  margin-left: auto;
  width: 14px;
  transition: 0.3s;
}
.FAQ-bg button:hover::after,
.FAQ-bg button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}
.FAQ-bg dd {
  max-width: 80ch;
  display: none;
}
.FAQ-bg dd.accordion-ativo {
  display: block;
}
