@media (max-width: 1120px) {
  .main-bg {
    padding-top: 2rem;
  }
  .main-container {
    gap: 2rem;
  }
  .main-title {
    margin-bottom: var(--gap-size-016);
  }
}
@media (max-width: 900px) {
  .main-bg {
    background: var(--color-c11);
    box-shadow: inset 0 -60px var(--color-c00);
  }
  .main-container {
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  .main-description-container {
    padding-bottom: 0;
  }
  .main-img-container img {
    height: 300px;
    width: 100%;
  }
}
@media (max-width: 845px) {
  .bike-tech-bg {
    box-shadow: none;
  }
  .bike-tech-container {
    grid-template-columns: 1fr;
  }
  .bike-tech-container picture img {
    display: none;
  }
  .bike-tech-description-container {
    align-self: center;
    padding: 3.75rem 0;
  }
  .partners-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .partners-list-container li {
    border: none;
    border-bottom: 2px solid var(--color-c02);
  }
  .partners-list-container li:nth-child(n + 5) {
    border: none;
    border-bottom: 2px solid var(--color-c02);
  }
  .partners-list-container li:nth-child(odd) {
    border-right: 2px solid var(--color-c02);
  }
  .partners-list-container li:last-child,
  .partners-list-container li:nth-child(7) {
    border-bottom: none;
  }
}
@media (max-width: 768px) {
  .header-container {
    gap: 1rem;
  }
  .header-menu {
    gap: 1.25rem;
  }
  .header-menu a {
    background-color: var(--color-c11);
    border-radius: var(--gap-size-004);
    padding: 0.75rem 1rem;
    transition: background-color 0.3s ease;
  }
  .header-menu a:hover {
    background-color: var(--color-c10);
  }
  .header-menu a::before {
    display: none;
  }
  .btn {
    padding: 0.75rem 1rem;
  }
  .main-description-container {
    padding-bottom: 0;
  }
  .bike-list-container {
    padding: 60px 0 60px;
  }
  .bike-list {
    gap: 2rem;
  }
  .partners-list-container li {
    padding: 1.25rem;
  }
  .quote-declaration-container {
    justify-self: center;
    padding: 2.5rem 1.25rem;
  }
  .declaration-container {
    grid-template-columns: 1fr;
    overflow: hidden;
    text-align: center;
  }
  .picture-declaration-container img {
    max-height: 300px;
    width: 100%;
  }
  .quote-declaration-container blockquote p::before {
    left: -25px;
  }
  .quote-declaration-container blockquote p::before,
  .quote-declaration-container blockquote p::after {
    font-size: 3.75rem;
  }
  .insurance-types-container {
    grid-template-columns: 1fr;
    padding: 3.75rem 0;
  }
}
@media (max-width: 425px) {
  .header-menu {
    gap: 0.75rem;
  }
  .header-menu a {
    padding: 0.5rem 0.75rem;
  }
  .quote-declaration-container blockquote {
    max-width: 30ch;
  }
}
